body{
	background-color: #dedede;
}

nav{
	float: left;
	height: 100vh;
	background-color: #3d3936;
	padding-right: 30px;
	padding top:30px;
}

a{
	text-decoration: none;
	color: #fff;
}

li{
	color: #fff;
}

.logo img{
	width: 50px;
	margin: 20px 25px;
}

.container{
	padding: 10px;
}

.pointer-next{
	width: 20px;
	margin: 300px 5px 5px 5px;
	float: right;
}

.pointer-previous{
	width: 20px;
	margin: 300px 5px 5px 5px;
	float: left;
}

.main-content-index{
	text-align: center;
	text-transform: uppercase;
	margin: 280px 5px 5px 5px;
}

.main-content{
	width: 48%;
	margin: 0 auto;
}

.main-content h1{
	text-transform: uppercase;
}

.stroke-box{
	width: 45%;
	display: inline-block;
	vertical-align: top;
	margin: 10px;
}